<br>
<mat-card class="mauto w50">
  <mat-toolbar>
    Dear Customer,
  </mat-toolbar>
  <mat-card-content style="padding:20px">
    <p>Your request has been submitted successfully.</p>
    <p>You may follow up your request - <b>Application No: {{id}} </b>, </p>
    <p> For other inquiries about the service you can communicate with the call center in DAFZA
      at any time (24/7), or send your comments and inquiries to Website Feedback</p>
    <div class="text-right">
      <button color="primary" mat-raised-button [routerLink]="'/app/status/'+id">Continue</button>
    </div>
  </mat-card-content>
</mat-card>

<!--<app-footer></app-footer>-->
