.fix {
  max-height: calc(100vh - 200px) !important;
  padding: 40px;
  overflow-y: hidden !important;
  overflow-x: scroll;
  background: #fff;
  display: flex;
  margin-top: 30px;


  .block {
    cursor: pointer;
    min-width: 200px;
    max-width: 200px;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    margin-right: 32px;
    transition: all .4s linear;

    &::after {
      content: "🔗";
      position: relative;
      top: -79px;
      left: 214px;
      font-size: 34px;
    }

    mat-toolbar {
      border-radius: 4px;
      padding: 12px;
      height: 25px;
      text-overflow: clip;
    }

    div {
      border-radius: 4px;
      padding: 8px;
      background: #efefef;
      margin-top: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


