<mat-card class="fix">

  <mat-card (click)="currentBlock = null; currentBlock = {blockno:0, data_hash: '5T567H'}" class="block"
            style="background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;">

    <mat-toolbar>Block No: 0</mat-toolbar>
    <div style="background: transparent">&nbsp;</div>
    <div matLine>
      <small>assdf76gs8dg8sdg9sd8g8sdf9gs89dgsd9gs9dg8sd8gs9dgf8</small>
    </div>

    <div>
      <small>Genisis</small>
    </div>
  </mat-card>

  <mat-card
    (click)="currentBlock = null; currentBlock = {blockno:1, data_hash: 'assdf76gs8dg8sdg9sd8g8sdf9gs89dgsd9gs9dg8sd8gs9dgf8'}"
    class="block"
    style="background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;">

    <mat-toolbar>Block No: 1</mat-toolbar>
    <div style="background: transparent">&nbsp;</div>
    <div matLine>
      <small>assdf76gs8dg8sdg9sd8g8sdf9gs89dgsd9gs9dg8sd8gs9dgf8</small>
    </div>
    <div>
      <small>Channel</small>
    </div>
  </mat-card>


  <ng-container *ngFor="let block of blocks">

    <mat-card (click)="currentBlock = null;currentBlock = block" class="block">
      <mat-toolbar>Block No: {{block.blockno}}</mat-toolbar>
      <div style="background: transparent">&nbsp;</div>
      <div matLine>
        <small>{{block.transactions[0].txid }}</small>
      </div>

      <div>
        <small>Created:</small>
        <br>
        <small>{{block.transactions[0].timestamp | date:'short' }}</small>
      </div>
    </mat-card>

  </ng-container>

  <div>&nbsp;</div>

</mat-card>


<mat-card *ngIf="currentBlock" class="mauto w50" style="margin-top: 20px;">

  <mat-toolbar>
    Selected Block: {{currentBlock.blockno}}
  </mat-toolbar>

  <mat-list *ngIf="currentBlock && currentBlock.transactions" dense>

    <mat-list-item>
      <p matLine><b>Block Generated:</b></p>
      <p matLine>{{currentBlock.transactions[0].timestamp | date:'short' }}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <p matLine><b>Block Hash:</b></p>
      <p matLine>{{currentBlock.data_hash}}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <p matLine><b>Endorsers:</b></p>
      <p matLine>{{currentBlock.transactions[0]['endorsers'][0] }}</p>
    </mat-list-item>


    <mat-divider></mat-divider>

    <mat-list-item>
      <p matLine><b>TxId:</b></p>
      <p matLine>{{currentBlock.transactions[0].txid }}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <p matLine><b>Action :</b></p>
      <p matLine>{{currentBlock.transactions[0].args }}</p>
    </mat-list-item>

    <mat-divider></mat-divider>
    <mat-list-item>
      <p matLine><b>Data:</b></p>
    </mat-list-item>
    <pre style="overflow: auto;">{{ (currentBlock.transactions[0].data)  | json}}</pre>
  </mat-list>
</mat-card>


<!--<app-footer></app-footer>-->
