<div *ngIf="user" class='grid'>


  <div class='grid-list w50'>
    <mat-card class="h350" style="">
      <mat-toolbar style="">{{user.companyName}}</mat-toolbar>

      <mat-list dense>

        <mat-list-item>
          <div class="grid w100">
            <p class="grid-list w50"> Company Legal name : </p>
            <p class="grid-list w50">{{user.legal.name}}</p>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
          <div class="grid w100">
            <p class="grid-list w50"> Company Registration : </p>
            <p class="grid-list w50">{{user.companyRegDate | date: 'mediumDate'}}</p>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
          <div class="grid w100">
            <p class="grid-list w50"> Customer Number : </p>
            <p class="grid-list w50">{{user.custNum}}</p>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
          <div class="grid w100">
            <p class="grid-list w50"> ERP NUmber :</p>
            <p class="grid-list w50">{{user.erpRefNum}}</p>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
          <div class="grid w100">
            <p class="grid-list w50"> Country Code :</p>
            <p class="grid-list w50">{{user.countryCode}}</p>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>


      </mat-list>
    </mat-card>
  </div>
  <div class='grid-list w25'>
    <mat-card class="h350" style="">
      <mat-card-content style="max-width:100%; overflow: hidden">
        <mat-toolbar>
          Brand
        </mat-toolbar>

        <br><br>
        <img
          class="w100 mt12"
          src="../../../assets/logo/logo-placeholder.jpg">
      </mat-card-content>
    </mat-card>
  </div>

  <div class='grid-list w25'>
    <mat-card class="h350">
      <mat-toolbar>Legal</mat-toolbar>

      <mat-list dense>
        <mat-list-item>
          <div class="grid w100">
            <p class="grid-list w50"> Contact : </p>
            <p class="grid-list w50">{{user.legal.contactPerson}}</p>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <div class="grid w100">
            <p class="grid-list w50"> Manager Email :</p>
            <p class="grid-list w50">{{user.managerEmail}}</p>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <div class="grid w100">
            <p class="grid-list w50"> Proprietor Email :</p>
            <p class="grid-list w50">{{user.proEmail}}</p>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
          <div class="grid w100">
            <p class="grid-list w50"> Phone :</p>
            <p class="grid-list w50">{{user.legal.phoneNum}}</p>
          </div>
          <mat-divider></mat-divider>

        </mat-list-item>

        <mat-list-item>
          <div class="grid w100">
            <p class="grid-list w50"> Fax :</p>
            <p class="grid-list w50">{{user.legal.faxNum}}</p>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>

      </mat-list>
    </mat-card>
  </div>

  <div class='grid-list w25'>

    <mat-card class="h350" style="background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%); color:#fff;">
      <mat-card-title>Quick Actions</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>

        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile mat-ripple routerLink="/app/new-license">
            <div class="text-center">
              <mat-icon matBadge="15" matBadgeColor="warn">list_alt</mat-icon>
              <br>
              <div>New License</div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile mat-ripple routerLink="/app/verify">
            <div class="text-center">
              <mat-icon>device_unknown</mat-icon>
              <br>
              <div>Verify Application</div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile mat-ripple>
            <div class="text-center">
              <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
              <br>
              <div>Notifications</div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile mat-ripple>
            <div class="text-center">
              <mat-icon matBadge="15" matBadgeColor="warn">phone</mat-icon>
              <br>
              <div>Contact</div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="licencedata" class='grid-list w75'>
    <mat-card class="h350">

      <app-table-view
        [headers]="licenceHeaders"
        [dataSource]="licencedata"
        (buttonAction)="action($event)"
        [shadow]="false"
        [pagination]="true"
        [paginationSelect]="false"
        [indexing]="false"
        [perpage]="4"
        (selectRow)="selectRow($event)"
      ></app-table-view>

    </mat-card>
  </div>

  <!--  <div class='grid-list w50'>
      <mat-card class="h400">
        <mat-card-title>Documets</mat-card-title>


        <mat-divider></mat-divider>
        <mat-card-content dense style="overflow: auto;">
          <mat-nav-list>

            <mat-list-item>
              <mat-icon mat-list-icon>note</mat-icon>
              <h4 mat-line>Document</h4>
              <p mat-line> Uploaded </p>
            </mat-list-item>


            <mat-list-item>
              <mat-icon mat-list-icon>note</mat-icon>
              <h4 mat-line>Document</h4>
              <p mat-line> Uploaded </p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>note</mat-icon>
              <h4 mat-line>Document</h4>
              <p mat-line> Uploaded </p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>note</mat-icon>
              <h4 mat-line>Document</h4>
              <p mat-line> Uploaded </p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>note</mat-icon>
              <h4 mat-line>Document</h4>
              <p mat-line> Uploaded </p>
            </mat-list-item>

          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </div>-->


</div>


<!--<mat-card-title>License Status</mat-card-title>-->
<!--<mat-divider></mat-divider>-->
<!--<mat-card-content>-->
<!--<mat-list>-->
<!--<mat-list-item>-->
<!--<b> License Num : </b> {{application.license.licenseNum }}-->
<!--</mat-list-item>-->
<!--<mat-list-item>-->
<!--<b> First ExpDate : </b> {{application.license.firstExpDate | date }}-->
<!--</mat-list-item>-->

<!--<mat-list-item>-->
<!--<b> Status : </b> {{application.license.status}}-->
<!--</mat-list-item>-->

<!--</mat-list>-->

<!--<br>-->
<!--<br>-->

<!--<a *ngIf="application.license.status === 'Expired'" mat-flat-button [routerLink]="['/app/renew-license']" color="primary" class="w50">Renew License</a>-->
<!--</mat-card-content>-->
