<div *ngIf="dashData">
  <div class="grid">


    <div class="grid-list w33 h80 text-center">
      <mat-card class="click" routerLink="/app/application-verification/noc"
                style="background:linear-gradient(135deg, #42e695 0%,#3bb2b8 100%); color:#fff; ">
        <h1>{{dashData.pendingNOC[0].count}}</h1>
        <div>Pending NOC</div>
      </mat-card>
    </div>


    <div class="grid-list w33 h80 text-center">
      <mat-card class="click" routerLink="/app/bank-txn"
                style="background:linear-gradient(135deg, #0FF0B3 0%,#036ED9 100%); color: #fff;">
        <h1>{{ dashData.pendingCert[0].count }}</h1>
        <div>Pending Certificates</div>
      </mat-card>
    </div>

    <div class="grid-list w33 h80 text-center">
      <mat-card class="click" routerLink="/app/all-applications"
                style="background:linear-gradient(135deg, #42e695 0%,#3bb2b8 100%); color:#fff; ">
        <h1>{{dashData.totalApplications[0].myCount}}</h1>
        <div>Total Applications</div>
      </mat-card>
    </div>


  </div>


  <div class="grid">
    <div class="grid-list w50 text-center">
      <mat-card class="click" routerLink="/app/bank-txn"
                style="background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); color: #fff;     min-height: inherit;">
        <h1>{{ dashData.amountToDafzaTRA[1].total | currency:'AED '}}</h1>
        <div>Total Payment Recived</div>
      </mat-card>

      <mat-card class="click" routerLink="/app/all-applications"
                style="background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); color: #fff;     min-height: inherit;">
        <h1>{{ dashData.totalNOCGenerated[0].count }}</h1>
        <div>Total NOC issued</div>
      </mat-card>

      <mat-card class="click" routerLink="/app/all-applications"
                style="background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); color: #fff;     min-height: inherit;">
        <h1>{{ dashData.totalTradeLiscIssued[0].count }}</h1>
        <div>Total Trade License Issued</div>
      </mat-card>


    </div>

    <div class="grid-list w50 text-center">
      <mat-card style="min-height: 331px;">
        <canvas (chartClick)="chartClicked($event)"
                (chartHover)="chartHovered($event)"
                [chartType]="pieChartType"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [legend]="true"
                [colors]="colors"
                baseChart></canvas>

        <br>
        <p>Total Amount Distribution (AED)</p>

        <!--<button (click)="randomizePie()" mat-button>Change Visualization</button>-->
      </mat-card>
    </div>

  </div>

  <div class="grid p12 ">
    <mat-card class="grid-list w100">
      <mat-toolbar>Last transactions</mat-toolbar>
      <ng-container *ngIf="txns">

        <app-table-view
          [dataSource]="txns"
          [headers]="customHeaders"
          [pagination]="false"
          [perpage]="4"
          [shadow]="false"></app-table-view>

      </ng-container>
      <div class="text-right">
        <button mat-flat-button routerLink="/app/bank-txn">View All
          <mat-icon>arrow_right</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>

</div>


<!--
<pre>{{lineChartData | json}}</pre>
<pre>{{lineChartLabels | json}}</pre>
<pre>{{dashData | json}}</pre>
-->

