<mat-card>
  <mat-toolbar>
    &nbsp; Payment Transactions
  </mat-toolbar>
</mat-card>
<ng-container *ngIf="txns">

  <app-table-view
    [dataSource]="txns"
    [headers]="customHeaders"
    [perpage]="10"
    [buttons]="buttons"
    (buttonAction)="actions($event)"></app-table-view>


</ng-container>


<!--<pre>{{txns | json}}</pre>-->
