<mat-card>
  <mat-toolbar>
    &nbsp;{{type}} Application
  </mat-toolbar>
</mat-card>
<ng-container *ngIf="dataSource">

  <app-table-view
    [dataSource]="dataSource"
    [headers]="customHeaders"
    [buttons]="buttons"
    (buttonAction)="actions($event)"></app-table-view>

</ng-container>


<ngx-spinner bdOpacity=0.9 bdColor="#333" size="large" color="#fff" type="ball-8bits" fullScreen="true"><p
  style="color: white"> {{message}} </p></ngx-spinner>

<!--<div *ngIf="view" class="dialogue-wrapper">

  <button mat-icon-button (click)="view = null" class="m12">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-divider></mat-divider>
  <h3>&nbsp;&nbsp;Application #{{view._id}}</h3>
  <mat-divider></mat-divider>

  <div style="display:flex; flex-direction: row;">

    <mat-card class="m16" style=" flex-grow: 1">
      <mat-card-content>
        <mat-list>
          <mat-list-item><span class="muted">Emirates ID: </span>{{view.emiratesId}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Name: </span>{{view.emirates.CustomerName}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Age: </span>{{view.emirates.age}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Country: </span>{{view.emirates.Country}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Gender: </span>{{view.emirates.Sex}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Passport No: </span>{{view.emirates.PassportNo}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Passport Issue Date: </span>{{view.emirates.PassportStartDate | date}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Passport Exp Date: </span>{{view.emirates.PassportExp | date}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Visa Issue Date: </span>{{view.emirates.VisaStampDate |  date}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Visa Exp: </span>{{view.emirates.VisaExp | date}}</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>

      </mat-card-content>

    </mat-card>

    <mat-card class="m16" style=" flex-grow: 1">
      <mat-card-content>
        <mat-list>
          <mat-list-item><span class="muted">Email:</span> {{view.email}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Passport Lost Place:  </span>{{view.lostPlace}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Police Station: </span> {{view.policeStation}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Passport No: </span>{{view.emirates.PassportNo}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Citizen type: </span>{{view.type }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Is Minor: </span>{{ view.minor ? 'Yes' : 'No'}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Application Status: </span>{{view.status}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Applied On: </span>{{view.timeStamp | date}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Comments: </span>{{view.comments}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span class="muted">Document: </span> <a [href]="view.document" target="_blank">Download</a></mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card-content>
    </mat-card>


  </div>
</div>-->
