

.grid-list {
  h2 {
    font-weight: 100;
    margin: 0;
  }

  b {
    color: #848484;
  }

  font-size: 12px !important;

  > div {

    label {
      padding: 0;
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      font-weight: 500;
    }

    div {
      color: rgba(0, 0, 0, 0.87);
      font-size: 12px;
      font-weight: 400;
      padding: 12px;
    }
  }
}

h4 {
  background: #ddd;
  margin: 0;
  padding: 4px 12px;
}


