<mat-card *ngIf="applications">
  <mat-form-field class="w100">
    <mat-select>
      <mat-option (click)="application = app; setQr(app._id)" *ngFor="let app of applications">{{app._id}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>


<mat-card *ngIf="!application">
  <mat-toolbar>No Applications or not selected any</mat-toolbar>
</mat-card>

<mat-horizontal-stepper *ngIf="application" labelPosition="bottom" #stepper
                        [linear]="true">
  <ng-template matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="done">
    <mat-icon>done</mat-icon>
  </ng-template>


  <mat-step [completed]="application.status.includes('LICENSE_NEW_INITIATED')">
    <ng-template matStepLabel>SUBMITTED</ng-template>
  </mat-step>

  <mat-step [completed]="application.status.includes('PAYMENT_SUCCESS')">
    <ng-template matStepLabel>PAYMENT</ng-template>
  </mat-step>

  <mat-step [completed]="application.status.includes('NOC')">
    <ng-template matStepLabel>NOC</ng-template>
  </mat-step>

  <mat-step [completed]="application.status.includes('LICENSE_ISSUE')">
    <ng-template matStepLabel>TRADE LICENSE ISSUED</ng-template>
  </mat-step>

</mat-horizontal-stepper>

<mat-tab-group *ngIf="application" mat-align-tabs="center">
  <mat-tab label="Application">
    <mat-card *ngIf="application" class="m16 ">

      <mat-toolbar>
        &nbsp;Application Status - {{application._id}}
      </mat-toolbar>

      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <b> License Num : </b> {{application.license.licenseNum }}
          </mat-list-item>
          <mat-list-item>
            <b> Expiry Date : </b> {{application.license.expiryDate | date:'mediumDate' }}
          </mat-list-item>

          <mat-list-item>
            <b> Status : </b> {{application.license.status}}
          </mat-list-item>
          <mat-list-item>
            <b> Term : </b> {{application.license.licenseTerm}}
          </mat-list-item>

        </mat-list>


      </mat-card-content>

      <mat-toolbar>Lease Details.</mat-toolbar>
      <app-table-view
        [headers]="leaseHeaders"
        [dataSource]="application.Lease"
        [shadow]="false"
        [pagination]="true"
        [indexing]="false"
      ></app-table-view>


      <mat-toolbar>Activity Details.</mat-toolbar>
      <app-table-view
        [headers]="activityHeaders"
        [dataSource]="application.activity"
        [shadow]="false"
        [pagination]="true"
        [indexing]="false"
      ></app-table-view>
      <!--
            <mat-card-content *ngFor="let i of application.Lease">
              <mat-card-title>
                <mat-card-subtitle >Lease Details</mat-card-subtitle>
              </mat-card-title>
              <mat-list dense>
                <mat-list-item>
                  <b> License Num : </b> {{i.leaseNum }}
                </mat-list-item>
                <mat-list-item>
                  <b> Start Date : </b> {{i.startDate | date:'mediumDate' }}
                </mat-list-item>
                <mat-list-item>
                  <b> Expiry Date : </b> {{i.expiryDate | date:'mediumDate' }}
                </mat-list-item>
                <mat-list-item>
                  <b> Status : </b> {{i.leaseStatus}}
                </mat-list-item>
              </mat-list>
            </mat-card-content> -->

      <!-- <mat-card-content *ngFor="let i of application.activity">
        <mat-card-title>
          <mat-card-subtitle >Activity Details</mat-card-subtitle>
        </mat-card-title>
        <mat-list dense>
          <mat-list-item>
            <b> id : </b> {{i.id }}
          </mat-list-item>
          <mat-list-item>
            <b> Group : </b> {{i.group }}
          </mat-list-item>
          <mat-list-item>
            <b> Name : </b> {{i.Name }}
          </mat-list-item>
          <mat-list-item>
            <b> Fee : </b> {{i.fee}}
          </mat-list-item>
        </mat-list>
      </mat-card-content> -->

    </mat-card>
  </mat-tab>
  <mat-tab label="Certificates">

    <mat-tab-group>

      <mat-tab *ngIf="application &&  application.status.includes('NOC')" label="NOC">
        <ng-container>
          <button *ngIf="application.status && application.status.includes('NOC')" mat-flat-button target="_blank"
                  (click)="download('noc-Report', application.license.licenseNum)"
                  class="m12">
            <mat-icon>print</mat-icon>
            Download NOC Report
          </button>
          <mat-divider></mat-divider>
          <mat-card id="noc-Report" class="m16 mauto" style="max-width: 595px;">

            <div>
              <div>
                <img width="180px;" style="float: left;margin-top: 35px;" src="../../../assets/logo/gov.png">
                <img width="180px;" style="float: right" src="../../../assets/logo/dafza.jpg">
              </div>
              <mat-toolbar>NOC Report</mat-toolbar>
              <h4>License Details</h4>
              <div class="grid">
                <div class="grid-list w33">
                  <div class="p12">
                    <label>License No</label>
                    <div>{{application.license.licenseNum}}</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label>Trade Name</label>
                    <div>{{application.legal.name}}</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label>Type</label>
                    <div>Trade</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label>Issue Date</label>
                    <div>{{application.companyRegDate | date }}</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label> Expiry Date</label>
                    <div>{{application.license.expiryDate | date}}</div>
                  </div>
                </div>
                <div class="grid-list w33">
                  <div class="p12">
                    <label>Customer Num</label>
                    <div>{{application.custNum }}</div>
                  </div>
                </div>

              </div>

              <div>
                <h4>License Activities</h4>
                <div *ngFor="let activity of application.activity" class="grid p16">
                  <div class="grid-list w25"><b>ID:</b> {{activity.id}}</div>
                  <div class="grid-list w25"><b>Name:</b> {{activity.Name}}</div>
                  <div class="grid-list w25"><b>Group:</b> {{activity.group}}</div>
                  <div class="grid-list w25"><b>NOC Issuer:</b> {{activity.nocIssuer}}</div>
                </div>
              </div>

              <mat-toolbar>Company Details</mat-toolbar>
              <div>
                <h4>Address</h4>
                <div class="grid p16">
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Contact Person:</label>
                      <div>{{application.legal.contactPerson}}</div>
                    </div>
                  </div>
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Phone No:</label>
                      <div>{{application.legal.phoneNum}}</div>
                    </div>
                  </div>
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Fax No:</label>
                      <div>{{application.legal.faxNum}}</div>
                    </div>
                  </div>
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Mobile No:</label>
                      <div>{{application.legal.phoneNum}}</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="text-center">
              <img [src]="qr64">
            </div>

            <div class="mt12 p12" style="font-size: small">
              <div class="grid">
                <div class="grid-list w50 text-center"><b>Created Date: </b> {{date | date}}</div>
                <div class="grid-list w50 text-center"><b>Signature:</b> {{application._id}}</div>
              </div>
              <br>
              <mat-divider></mat-divider>
              <div class="p12 text-center">Approved electronic document issued without signature by the Department of
                Economic
                Development.
                To verify the license kindly visit <br> www.dubai.gov.ae
              </div>
            </div>

          </mat-card>
        </ng-container>
      </mat-tab>

      <mat-tab *ngIf="application &&  application.status.includes('LICENSE_ISSUE')" label="LICENSE ISSUE">
        <ng-container>
          <button *ngIf="application.status && application.status.includes('NOC')" mat-flat-button target="_blank"
                  (click)="download('renew-license1', application.license.licenseNum)"
                  class="m12">
            <mat-icon>print</mat-icon>
            Download Renewed License Certificate
          </button>
          <mat-divider></mat-divider>
          <mat-card id="renew-license1" class="m16 mauto" style="max-width: 595px;">

            <div>
              <div>
                <img width="180px;" style="float: left;margin-top: 35px;" src="../../../assets/logo/gov.png">
                <img width="180px;" style="float: right" src="../../../assets/logo/dafza.jpg">
              </div>
              <mat-toolbar color="primary">Trade License</mat-toolbar>
              <h4>License Details</h4>
              <div class="grid">
                <div class="grid-list w33">
                  <div class="p12">
                    <label>License No</label>
                    <div>{{application.license.licenseNum}}</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label>Trade Name</label>
                    <div>{{application.legal.name}}</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label>Type</label>
                    <div>Trade</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label>Issue Date</label>
                    <div>{{application.companyRegDate | date }}</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label> Expiry Date</label>
                    <div>{{application.license.expiryDate | date}}</div>
                  </div>
                </div>
                <div class="grid-list w33">
                  <div class="p12">
                    <label>Customer Num</label>
                    <div>{{application.custNum }}</div>
                  </div>
                </div>

              </div>

              <div>
                <h4>License Activities</h4>
                <div *ngFor="let activity of application.activity" class="grid p16">
                  <div class="grid-list w25"><b>ID:</b> {{activity.id}}</div>
                  <div class="grid-list w25"><b>Name:</b> {{activity.Name}}</div>
                  <div class="grid-list w25"><b>Group:</b> {{activity.group}}</div>
                  <div class="grid-list w25"><b>NOC Issuer:</b> {{activity.nocIssuer}}</div>
                </div>
              </div>

              <mat-toolbar color="primary">Company Details</mat-toolbar>
              <div>
                <h4>Address</h4>
                <div class="grid p16">
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Contact Person:</label>
                      <div>{{application.legal.contactPerson}}</div>
                    </div>
                  </div>
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Phone No:</label>
                      <div>{{application.legal.phoneNum}}</div>
                    </div>
                  </div>
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Fax No:</label>
                      <div>{{application.legal.faxNum}}</div>
                    </div>
                  </div>
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Mobile No:</label>
                      <div>{{application.legal.phoneNum}}</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="text-center">
              <img [src]="qr64">
            </div>
            <div class="mt12 p12" style="font-size: small">
              <div class="grid">
                <div class="grid-list w50 text-center"><b>Created Date: </b> {{date | date}}</div>
                <div class="grid-list w50 text-center"><b>Signature:</b> {{application._id}}</div>
              </div>
              <br>
              <mat-divider></mat-divider>
              <div class="p12 text-center">Approved electronic document issued without signature by the Department of
                Economic
                Development.
                To verify the license kindly visit <br> www.dubai.gov.ae
              </div>
            </div>

          </mat-card>
        </ng-container>
      </mat-tab>

    </mat-tab-group>

  </mat-tab>
</mat-tab-group>





