<div [class]="'bg-'+logo" style="width:100vw; height:100vh">


  <div class="vertical-align">
    <mat-card class="login-wrapper ">
      <div class="login-header background-{{logo}}">
        <mat-card-title>

        </mat-card-title>
      </div>
      <div class="login-component">
        <mat-form-field>
          <input [(ngModel)]="username" matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="password" matInput placeholder="Password" type="password">
        </mat-form-field>

        <div>
          <button (click)="login()" color="primary" mat-raised-button>Login</button>
        </div>
      </div>

    </mat-card>
  </div>
</div>
