@import "../../styles";

.login-wrapper {

  width: 400px;
  @include push--auto;


  .login-header {
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -16px;
    height: 120px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: aliceblue;

    mat-card-title {
      position: relative;
      padding: 16px;
      top: 60px;
    }
  }


  .login-component {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

  }

  .login-component > * {
    width: 100%;
  }


  .background-user {
    background: url(../../assets/logo/user.png) no-repeat center center;
    background-size: contain;
  }

  .background-dafza {
    background: url(../../assets/logo/dafza.png) no-repeat center center;
    background-size: contain;
  }

  .background-tra {
    background: url(../../assets/logo/tra.png) no-repeat center center;
    background-size: contain;
  }

}

.bg-tra {
  background: linear-gradient(135deg, #fad961 0%, #f76b1c 100%);
  background-size: cover;
}

.bg-dafza {
  background: url("../../assets/backgrounds/dafza.jpg") no-repeat center center;
  background-size: cover;
}

.bg-user {
  background: url("../../assets/backgrounds/user.jpg") no-repeat center center;
  background-size: cover;
}

.bg-fza {
  background: url("../../assets/backgrounds/fza.png") no-repeat center center;
  background-size: cover;
}
