<mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>


  <mat-step>
    <form>
      <ng-template matStepLabel>License</ng-template>

      <mat-card class="mauto w50">
        <mat-toolbar>License Details</mat-toolbar>


        <div class="mt8">
          <mat-form-field class="w100">
            <mat-select placeholder="Select Type" [(value)]="formData.type">
              <mat-option value="Trade">Trade</mat-option>
              <mat-option value="Service">Service</mat-option>
              <mat-option value="Industrial">Industrial</mat-option>
              <mat-option value="General Trading">General Trading</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mt8">
          <mat-form-field class="w100">
            <input matInput placeholder="Office Number" name="officeNum" [(ngModel)]="formData.officeNum">
          </mat-form-field>
        </div>

        <div class="mt8">
          <mat-form-field class="w100">
            <input matInput [matDatepicker]="picker" name="startDate" placeholder="Start Date"
                   [(ngModel)]="formData.startDate">
            <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="mt8">
          <mat-form-field class="w100">
            <mat-select placeholder="Lease Terms" [(value)]="formData.leaseTerm">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="m12 text-right">
          <button color="primary" mat-raised-button matStepperNext>Next</button>
        </div>

      </mat-card>

    </form>
  </mat-step>

  <mat-step>

    <ng-template matStepLabel>Lease Details</ng-template>

    <mat-card class="m12">
      <mat-toolbar>Lease Details.</mat-toolbar>
      <app-table-view
        [headers]="leaseHeaders"
        [dataSource]="formData.leasedata"
        [shadow]="false"
        [pagination]="false"
        [indexing]="false"
        [delete]="true"
        (deleteRow)="deleteLease($event)"
      ></app-table-view>

      <mat-divider></mat-divider>
      <div>

        <mat-form-field>
          <input matInput name="leaseNum" placeholder="Lease Number" #n>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput name="officeNum" placeholder="Office Number" #o>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput [matDatepicker]="start" name="start" placeholder="Start Date" #s>
          <mat-datepicker-toggle matPrefix [for]="start"></mat-datepicker-toggle>
          <mat-datepicker #start></mat-datepicker>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput [matDatepicker]="expiryDate" name="expiryDate" placeholder="Expiry Date" #e>
          <mat-datepicker-toggle matPrefix [for]="expiryDate"></mat-datepicker-toggle>
          <mat-datepicker #expiryDate></mat-datepicker>
        </mat-form-field>
        &nbsp;
        <button *ngIf="n.value && o.value && s.value && e.value" mat-icon-button (click)="addLease(n, o, s, e)">
          <mat-icon>add</mat-icon>
        </button>

      </div>

      <mat-divider></mat-divider>

      <div class="m12 text-right">
        <button mat-button matStepperPrevious>Back</button>
        <button color="primary" mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-card>
  </mat-step>

  <mat-step>
    <form>

      <ng-template matStepLabel>Activities</ng-template>

      <mat-card class="m12">
        <mat-toolbar>Activities.</mat-toolbar>
        <app-table-view
          [headers]="activityHeaders"
          [dataSource]="formData.activity"
          [shadow]="false"
          [delete]="true"
          [pagination]="false"
          [indexing]="false"
        ></app-table-view>

        <mat-divider></mat-divider>
        <div>

          <mat-form-field>
            <mat-select placeholder="Activity Group" #f>
              <mat-option value="Banks, Finance & Credit ">Banks, Finance &amp; Credit</mat-option>
              <mat-option value="Investment">Investment</mat-option>
              <mat-option value="Insurance">Insurance</mat-option>
              <mat-option value="Aircraft and Spacecraft">Aircraft and Spacecraft</mat-option>
              <mat-option value="Oil & Natural Gas">Oil & Natural Gas</mat-option>
              <mat-option value="Electronics & IT Group">Electronics &amp; IT Group</mat-option>
              <mat-option value="Travel Agent">Travel Agent</mat-option>
              <mat-option value="Motor Vehicles">Motor Vehicles &amp; Auto Spare Parts</mat-option>
              <mat-option value="Representative Office">Representative Office</mat-option>
              <mat-option value="Agricultural">Agricultural</mat-option>
              <mat-option value="Foodstuff and Beverages">Foodstuff and Beverages</mat-option>
              <mat-option value="Textiles, Clothing and Footwear">Textiles, Clothing and Footwear</mat-option>
              <mat-option value="Stationary and Books">Stationary and Books</mat-option>
              <mat-option value="Advertising">Advertising</mat-option>
              <mat-option value="Houesehold">Houesehold &amp; Furniture Trading</mat-option>
              <mat-option value="Jewellery">Jewellery</mat-option>
              <mat-option value="Sports">Sports Equipment</mat-option>
              <mat-option value="Perfumery">Perfumery, Medicines, Beauty</mat-option>
              <mat-option value="Spectacles">Spectacles &amp; Contact Lenses</mat-option>
              <mat-option value="Metals &amp; Metal Ores">Metals &amp; Metal Ores</mat-option>
              <mat-option value="Building">Building Materials</mat-option>
              <mat-option value="Agricultural">Agricultural, Flowers &amp; Plants</mat-option>
              <mat-option value="Chemical">Chemical</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-select placeholder="Name" #g>
              <mat-option value="Photographic Equipment Trading">Photographic Equipment Trading</mat-option>
              <mat-option value="Musical Instruments & Requisites Trading">Musical Instruments & Requisites Trading
              </mat-option>
              <mat-option value="Computer Electric Accessories Trading">Computer Electric Accessories Trading
              </mat-option>
              <mat-option value="Computer Software Trading">Computer Software Trading</mat-option>
              <mat-option value="Computer & Data Processing Requisites Trading">Computer & Data Processing Requisites
                Trading
              </mat-option>
              <mat-option value="Computer Equipment & Requisites Trading">Computer Equipment & Requisites Trading
              </mat-option>
              <mat-option value="Electrical & Electronic Appliances Spare Parts Trading">Electrical & Electronic
                Appliances Spare Parts Trading
              </mat-option>
              <mat-option value="Telephones & Telecommunications Equipment Trading">Telephones & Telecommunications
                Equipment Trading
              </mat-option>
              <mat-option value="Mobile Phones & Accessories Trading">Mobile Phones & Accessories Trading</mat-option>
              <mat-option value="Electronic Cards Trading">Electronic Cards Trading</mat-option>
              <mat-option value="Electronic Precision Instruments Trading">Electronic Precision Instruments Trading
              </mat-option>
              <mat-option value="Telecommunications Equipment Tradin">Telecommunications Equipment Trading</mat-option>
              <mat-option value="Wireless Equipment & Instruments Trading">Wireless Equipment & Instruments Trading
              </mat-option>
              <mat-option value="Satellite Receiving Equipment Tradin">Satellite Receiving Equipment Trading
              </mat-option>
              <mat-option value="Global Positioning Systems (G.P.S) Trading">Global Positioning Systems (G.P.S)
                Trading
              </mat-option>
              <mat-option value="SIM Trading">SIM Trading</mat-option>
              <mat-option value="Audio-Visual, Recording Equipment & Accessories Trading">Audio-Visual, Recording
                Equipment & Accessories Trading
              </mat-option>
              <mat-option value="Refrigerators , Washing Machines & Household Electrical Appliances Trading">
                Refrigerators , Washing Machines & Household Electrical Appliances Trading
              </mat-option>
              <mat-option value="Aircondition & Refrigeration Spare Parts Trading">Aircondition & Refrigeration Spare
                Parts Trading
              </mat-option>
              <mat-option value="Antennas Trading">Antennas Trading</mat-option>
              <mat-option value="Toys & Games Trading">Toys & Games Trading</mat-option>
              <mat-option value="Specialized Photographic Equipment & Processing Materials Trading">Specialized
                Photographic Equipment & Processing Materials Trading
              </mat-option>
              <mat-option value="Electricity Transmission and Control apparatus Installatio">Electricity Transmission
                and Control apparatus Installation
              </mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-select placeholder="NOC Issuer" #h>
              <mat-option value="DAFZA">DAFZA</mat-option>
            </mat-select>
          </mat-form-field>

          &nbsp;
          <button *ngIf="f.value && g.value" mat-icon-button (click)="addActivity(f, g, h)">
            <mat-icon>add</mat-icon>
          </button>

        </div>

        <mat-divider></mat-divider>

        <mat-divider></mat-divider>
        <div class="p12">
          <mat-checkbox name="insurance" [(ngModel)]="formData.insurance">Do you want to subscribe for Insurance
          </mat-checkbox>
        </div>

        <mat-divider></mat-divider>
        <div class="m12 text-right">
          <button mat-button matStepperPrevious>Back</button>
          <button color="primary" mat-raised-button matStepperNext>Next</button>
        </div>
      </mat-card>


    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Document Upload</ng-template>


    <mat-card class="w50 mauto">
      <mat-toolbar>Documents Required</mat-toolbar>

      <mat-list dense>
        <mat-list-item>
          <p matLine>Legal Standing Certificate
            <mat-icon *ngIf="formData.files.lsc" style="color: forestgreen">check_circle</mat-icon>
          </p>
          <p>&nbsp;<input type="file" (change)="uploadAndset('lsc', formData.files.lsc, $event )"></p>
          <input type="hidden" name="legal" required [(ngModel)]="formData.files.lsc">
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <p matLine>Workmen Compensation Insurance Policy
            <mat-icon *ngIf="formData.files.wcip" style="color: forestgreen">check_circle</mat-icon>
          </p>
          <p>&nbsp;<input type="file" (change)="uploadAndset('wcip', formData.files.wcip, $event )"></p>
          <input type="hidden" name="legal" required [(ngModel)]="formData.files.wcip">
          <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
          <p matLine>Free And Allied Perils Insurance Policy
            <mat-icon *ngIf="formData.files.fapip" style="color: forestgreen">check_circle</mat-icon>
          </p>
          <p>&nbsp;<input type="file" (change)="uploadAndset('fapip', formData.files.fapip, $event )"></p>
          <input type="hidden" required name="legal" [(ngModel)]="formData.files.fapip">
          <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
          <p matLine>Third Party Liability Insurance Policy
            <mat-icon *ngIf="formData.files.thirdParty" style="color: forestgreen">check_circle</mat-icon>
          </p>
          &nbsp;<input type="file" (change)="uploadAndset('thirdParty', formData.files.thirdParty, $event )">
          <input type="hidden" required name="legal" [(ngModel)]="formData.files.thirdParty">
        </mat-list-item>
      </mat-list>

      <mat-toolbar>TRA- Required Documents</mat-toolbar>

      <mat-list dense>
        <mat-list-item>
          <p matLine>Operation Safety Manual
            <mat-icon *ngIf="formData.files.osm" style="color: forestgreen">check_circle</mat-icon>
          </p>
          <p>&nbsp;<input type="file" (change)="uploadAndset('osm', formData.files.osm, $event )"></p>
          <input type="hidden" name="legal" [(ngModel)]="formData.files.osm">
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>
      <div class="mt12 text-right">
        <button mat-button matStepperPrevious>Back</button>
        <button color="primary" mat-raised-button matStepperNext>Next</button>
      </div>

    </mat-card>


  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Disclaimer</ng-template>
    <mat-card class="m12">

      <mat-card-content>
        <mat-toolbar>Disclaimer</mat-toolbar>
        <p class="p16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim ultricies leo vitae
          lobortis. Vivamus ut leo vel massa posuere aliquam et sed ipsum. Curabitur faucibus ac purus in viverra.
          Suspendisse euismod lectus nec mi rutrum, in hendrerit lorem lacinia. Sed vitae interdum sapien, eget euismod
          erat</p>
      </mat-card-content>


      <mat-card-content>
        <mat-toolbar>Legal Standing</mat-toolbar>
        <p class="p16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim ultricies leo vitae
          lobortis. Vivamus ut leo vel massa posuere aliquam et sed ipsum. Curabitur faucibus ac purus in viverra.
          Suspendisse euismod lectus nec mi rutrum, in hendrerit lorem lacinia. Sed vitae interdum sapien, eget euismod
          erat</p>

      </mat-card-content>


      <mat-card-content>
        <mat-toolbar>Payment</mat-toolbar>
        <p class="p16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim ultricies leo vitae
          lobortis. Vivamus ut leo vel massa posuere aliquam et sed ipsum. Curabitur faucibus ac purus in viverra.
          Suspendisse euismod lectus nec mi rutrum, in hendrerit lorem lacinia. Sed vitae interdum sapien, eget euismod
          erat</p>
      </mat-card-content>

      <mat-divider></mat-divider>
      <div class="p12">
        <mat-checkbox #agree> By Checking you are agreeing with the terms and conditions mentioned above
        </mat-checkbox>
      </div>
      <mat-divider></mat-divider>
      <div class="mt12 text-right">
        <button mat-button matStepperPrevious>Back</button>
        <button *ngIf="agree.checked" color="primary" mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-card>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Payment Invoice</ng-template>

    <div class="grid">
      <div class="grid-list w50">
        <mat-card class=" center ml14 mr14">
          <mat-toolbar>Smart Pay</mat-toolbar>
          <img class="w100" src="../../../assets/logo/dubai_pay.png">
        </mat-card>

        <mat-card class=" center ml14 mr14">

          <mat-toolbar>
            Payment Method
          </mat-toolbar>

          <mat-radio-group [(ngModel)]="paymentOption">

            <mat-list>

              <mat-list-item>
                <mat-radio-button value="Credit Card"><img src="../../../assets/logo/credit.png"> Credit Card
                </mat-radio-button>
              </mat-list-item>

              <mat-list-item>
                <mat-radio-button value="Edirham G2"><img src="../../../assets/logo/edirham.png">Edirham G2
                </mat-radio-button>
              </mat-list-item>

              <mat-list-item>
                <mat-radio-button value="Direct Debit"><img src="../../../assets/logo/direct.png">Direct Debit
                </mat-radio-button>
              </mat-list-item>

              <mat-list-item>
                <mat-radio-button value="One Click Pay"><img src="../../../assets/logo/oneclick.png">One Click Pay
                </mat-radio-button>
              </mat-list-item>
            </mat-list>
          </mat-radio-group>


        </mat-card>
      </div>
      <div class="grid-list w50">
        <mat-card style="min-height: 65px">
          <mat-toolbar>
            Payment using: {{paymentOption}}
          </mat-toolbar>
        </mat-card>
        <mat-card>
          <mat-toolbar>License Fees</mat-toolbar>

          <mat-list dense>
            <mat-list-item><p matLine> {{formData.leaseTerm }} Year(s) License</p>
              <p class="w33">AED {{formData.leaseTerm * 10000 | number}}</p></mat-list-item>
            <mat-list-item><p matLine><b>Sub Total</b></p>
              <p class="w33"><b>AED {{formData.leaseTerm * 10000 | number}}</b></p></mat-list-item>

          </mat-list>

          <mat-toolbar>Noc Fees</mat-toolbar>

          <mat-list dense>
            <mat-list-item><p matLine> General Fees</p>
              <p class="w33">AED 5,000.00</p></mat-list-item>
            <mat-list-item><p matLine> Service Charge</p>
              <p class="w33">AED 300.00</p></mat-list-item>
            <mat-list-item><p matLine><b>Sub Total</b></p>
              <p class="w33"><b>AED 5,300.00</b></p></mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
          <div class="p12">
            <h3 style="text-align: right; font-weight: bold">Total
              : {{(formData.leaseTerm * 10000) + 5300 | currency:'AED':'code'}}</h3>
          </div>


          <div class="text-right">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" color="accent" matStepperNext
                    (click)="submitApplication()">
              Submit and Make Payment
            </button>
          </div>
        </mat-card>
      </div>
    </div>


  </mat-step>


</mat-horizontal-stepper>


<!--<pre>{{formData | json}}</pre>-->
