<mat-card>
  <mat-toolbar>
      All Applications
  </mat-toolbar>
</mat-card>
<ng-container *ngIf="dataSource">

  <app-table-view
    [dataSource]="dataSource"
    [headers]="customHeaders"
    [buttons]="buttons"
    (buttonAction)="actions($event)"></app-table-view>

</ng-container>

