<h1 *ngIf="data.header" mat-dialog-title>{{data.header}}</h1>
<div mat-dialog-content>

  <ng-container *ngIf="data.message">
    <p>{{data.message}}</p>
  </ng-container>


  <ng-container *ngIf="data['data']">

    <mat-toolbar>
      Application ID: #{{data.data._id}}
    </mat-toolbar>
    <div class="p4" style="background: rgba(239,239,239,0.29)">
      <small class="pl8">&nbsp;&nbsp;<b>Status:</b> {{status[data.data.status[data.data.status.length - 1]]}}</small>
    </div>
    <mat-tab-group>
      <mat-tab label="Basic Info">
        <div style="display:flex; flex-direction: row;">

          <div class="m16" style="flex-grow: 1">
            <mat-list dense>
              <mat-list-item><span class="muted">ERP Ref Num: </span>{{data.data.erpRefNum}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">Company Name:  </span>{{data.data.companyName }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">Legal Name: </span>{{data.data.legal.name}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">Registered:  </span>{{data.data.companyRegDate | date:'dd/MM/yyyy' }}
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">Country Code:  </span>{{data.data.countryCode }}
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">Emirate:  </span>{{data.data.city }}
              </mat-list-item>
            </mat-list>
          </div>

          <div class="m16" style=" flex-grow: 1">
            <mat-list dense>
              <mat-list-item><span class="muted">Cust Num: </span>{{data.data.custNum}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">License Num: </span>{{data.data.license.licenseNum}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span
                class="muted">License expiryDate: </span>{{data.data.license.expiryDate | date:'dd/MM/yyyy' }}
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">Contact Person: </span>{{data.data.legal.contactPerson}}
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">Phone Num: </span>{{data.data.legal.phoneNum}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">Fax: </span>{{data.data.legal.faxNum}}</mat-list-item>
            </mat-list>
          </div>


        </div>
      </mat-tab>

      <mat-tab *ngIf="data.data.state" label="Audit Status">
        <ng-container *ngFor="let state of data.data.state">
          <mat-list dense>
            <mat-list-item>
              <div class="grid w100">
                <div class="grid-list w25">Status</div>
                <div class="grid-list w75">{{ status[state.level] }}</div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="grid  w100">
                <div class="grid-list w25">Time</div>
                <div class="grid-list w75">{{state.timestamp | date:'dd/MM/yyyy, hh:mm a'}}</div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="grid  w100">
                <div class="grid-list w25">Remark:</div>
                <div class="grid-list w75">{{state.remark}}</div>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </ng-container>
      </mat-tab>

      <mat-tab label="Documents">

        <div class="text-center">
          <ng-container *ngIf="data.data.files.lsc">
            <mat-toolbar>Legal Standing Certificate</mat-toolbar>
            <a [href]="data.data.files.lsc" target="_blank">
              <ng-container *ngIf="isImage(data.data.files.lsc) !== 'pdf'">
                <img [src]="data.data.files.lsc" width="300px;">
              </ng-container>
              <ng-container *ngIf="isImage(data.data.files.lsc) == 'pdf'">
                View the Document
              </ng-container>
            </a>
          </ng-container>

          <ng-container *ngIf="data.data.files.wcip">
            <mat-toolbar>Workmen Compensation Insurance Policy</mat-toolbar>
            <a [href]="data.data.files.wcip" target="_blank">
              <ng-container *ngIf="isImage(data.data.files.wcip) !== 'pdf'">
                <img [src]="data.data.files.wcip" width="300px;">
              </ng-container>
              <ng-container *ngIf="isImage(data.data.files.wcip) == 'pdf'">
                View the Document
              </ng-container>
            </a>
          </ng-container>

          <ng-container *ngIf="data.data.files.apip">
            <mat-toolbar>Free And Allied Perils Insurance Policy</mat-toolbar>
            <a [href]="data.data.files.apip" target="_blank">
              <ng-container *ngIf="isImage(data.data.files.apip) !== 'pdf'">
                <img [src]="data.data.files.apip" width="300px;">
              </ng-container>
              <ng-container *ngIf="isImage(data.data.files.apip) == 'pdf'">
                View the Document
              </ng-container>
            </a>

          </ng-container>

          <ng-container *ngIf="data.data.files.thirdParty">
            <mat-toolbar>Third Party Liability Insurance Policy</mat-toolbar>
            <a [href]="data.data.files.thirdParty" target="_blank">
              <ng-container *ngIf="isImage(data.data.files.thirdParty) !== 'pdf'">
                <img [src]="data.data.files.thirdParty" width="300px;">
              </ng-container>
              <ng-container *ngIf="isImage(data.data.files.thirdParty) == 'pdf'">
                View the Document
              </ng-container>
            </a>
          </ng-container>

          <ng-container *ngIf="data.data.files.osm">
            <mat-toolbar>Third Party Liability Insurance Policy</mat-toolbar>
            <a [href]="data.data.files.osm" target="_blank">
              <ng-container *ngIf="isImage(data.data.files.osm) !== 'pdf'">
                <img [src]="data.data.files.osm" width="300px;">
              </ng-container>
              <ng-container *ngIf="isImage(data.data.files.osm) == 'pdf'">
                View the Document
              </ng-container>
            </a>
          </ng-container>
        </div>
      </mat-tab>

      <mat-tab *ngIf="role == 'tra'" label="Transfer Advice">
        <br>
        <!-- {{data.data.invoice | json}} -->
        <div class="p8" style="border:1px solid #ddd; max-width: 595px; margin: auto;">
          <div>
            <img width="80px;" style="float: left;margin-left:8px; margin-top: 35px;"
                 src="../../../assets/logo/bank.png">
            <img width="180px;" style="float: right" src="../../../assets/logo/dafza.jpg">
          </div>
          <mat-toolbar>International Bank</mat-toolbar>


          <div class="m16" style="flex-grow: 1">
            <mat-list dense>

              <mat-list-item><span class="muted">Ref No: </span>{{data.data._id}}
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">Credited Account Name: </span> TRA
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">Credited Account Number: </span> 8796756435
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">IBAN Number: </span> 89764234435567787685
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">Currency :  </span>{{data.data.invoice.payLines[0].currency }}
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">Transfer Status </span>SUCCESS
              </mat-list-item>
              <mat-divider></mat-divider>

            </mat-list>
          </div>

          <h4 class="p8" style="background: whitesmoke;">Transfer Summary</h4>
          <div class="m16" style=" flex-grow: 1">
            <mat-list dense>
              <mat-list-item><span class="muted">Invoice Number: </span>{{data.data.invoice.invoiceNum}}
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span
                class="muted">Transfer Date:  </span>{{data.data.invoice.txnDate | date:'dd/MM/yyyy, hh:mm a' }}
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="muted">Transfer type </span>{{data.data.invoice.payLines[0].txnType}}
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span
                class="muted">Amount: </span>{{data.data.invoice.payLines[0].amount / 2 | currency:' '}}
              </mat-list-item>
              <mat-divider></mat-divider>


            </mat-list>
          </div>


        </div>
      </mat-tab>

      <mat-tab *ngIf="data.data.status &&  data.data.status.includes('NOC')" label="NOC">
        <ng-container>
          <button *ngIf="data.data.status && data.data.status.includes('NOC')" mat-flat-button target="_blank"
                  (click)="download('noc-Report', data.data.license.licenseNum)"
                  class="m12">
            <mat-icon>print</mat-icon>
            Download NOC Report
          </button>
          <mat-divider></mat-divider>
          <mat-card id="noc-Report" class="m16 mauto" style="max-width: 595px;">

            <div>
              <div>
                <img width="180px;" style="float: left;margin-top: 35px;" src="../../../assets/logo/gov.png">
                <img width="180px;" style="float: right" src="../../../assets/logo/dafza.jpg">
              </div>
              <mat-toolbar>NOC Report</mat-toolbar>
              <h4>License Details</h4>
              <div class="grid">
                <div class="grid-list w33">
                  <div class="p12">
                    <label>License No</label>
                    <div>{{data.data.license.licenseNum}}</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label>Trade Name</label>
                    <div>{{data.data.legal.name}}</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label>Type</label>
                    <div>Trade</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label>Issue Date</label>
                    <div>{{data.data.companyRegDate  | date:'dd/MM/yyyy, hh:mm a' }}</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label> Expiry Date</label>
                    <div>{{data.data.license.expiryDate | date:'dd/MM/yyyy, hh:mm a'}}</div>
                  </div>
                </div>
                <div class="grid-list w33">
                  <div class="p12">
                    <label>Customer Num</label>
                    <div>{{data.data.custNum }}</div>
                  </div>
                </div>

              </div>

              <div>
                <h4>License Activities</h4>
                <div *ngFor="let activity of data.data.activity" class="grid p16">
                  <div class="grid-list w25"><b>ID:</b> {{activity.id}}</div>
                  <div class="grid-list w25"><b>Name:</b> {{activity.Name}}</div>
                  <div class="grid-list w25"><b>Group:</b> {{activity.group}}</div>
                  <div class="grid-list w25"><b>NOC Issuer:</b> {{activity.nocIssuer}}</div>
                </div>
              </div>

              <mat-toolbar>Company Details</mat-toolbar>
              <div>
                <h4>Address</h4>
                <div class="grid p16">
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Contact Person:</label>
                      <div>{{data.data.legal.contactPerson}}</div>
                    </div>
                  </div>
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Phone No:</label>
                      <div>{{data.data.legal.phoneNum}}</div>
                    </div>
                  </div>
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Fax No:</label>
                      <div>{{data.data.legal.faxNum}}</div>
                    </div>
                  </div>
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Mobile No:</label>
                      <div>{{data.data.legal.phoneNum}}</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="text-center">
              <img [src]="qr64">
            </div>

            <div class="mt12 p12" style="font-size: small">
              <div class="grid">
                <div class="grid-list w50 text-center"><b>Created Date: </b> {{dateNow | date:'dd/MM/yyyy, hh:mm a' }}
                </div>
                <div class="grid-list w50 text-center"><b>Signature:</b> {{data.data._id}}</div>
              </div>
              <br>
              <mat-divider></mat-divider>
              <div class="p12 text-center">Approved electronic document issued without signature by the Department of
                Economic
                Development.
                To verify the license kindly visit <br> www.dubai.gov.ae
              </div>
            </div>

          </mat-card>
        </ng-container>
      </mat-tab>
      <mat-tab *ngIf="data.data.status &&  data.data.status.includes('LICENSE_ISSUE')" label="LICENSE ISSUE">
        <ng-container>
          <button *ngIf="data.data.status && data.data.status.includes('NOC')" mat-flat-button target="_blank"
                  (click)="download('renew-license1', data.data.license.licenseNum)"
                  class="m12">
            <mat-icon>print</mat-icon>
            Download Renewed License Certificate
          </button>
          <mat-divider></mat-divider>
          <mat-card id="renew-license1" class="m16 mauto" style="max-width: 595px;">

            <div>
              <div>
                <img width="180px;" style="float: left;margin-top: 35px;" src="../../../assets/logo/gov.png">
                <img width="180px;" style="float: right" src="../../../assets/logo/dafza.jpg">
              </div>
              <mat-toolbar color="primary">Trade License</mat-toolbar>
              <h4>License Details</h4>
              <div class="grid">
                <div class="grid-list w33">
                  <div class="p12">
                    <label>License No</label>
                    <div>{{data.data.license.licenseNum}}</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label>Trade Name</label>
                    <div>{{data.data.legal.name}}</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label>Type</label>
                    <div>Trade</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label>Issue Date</label>
                    <div>{{data.data.companyRegDate | date:'short' }}</div>
                  </div>
                </div>

                <div class="grid-list w33">
                  <div class="p12">
                    <label> Expiry Date</label>
                    <div>{{data.data.license.expiryDate | date:'short' }}</div>
                  </div>
                </div>
                <div class="grid-list w33">
                  <div class="p12">
                    <label>Customer Num</label>
                    <div>{{data.data.custNum }}</div>
                  </div>
                </div>

              </div>

              <div>
                <h4>License Activities</h4>
                <div *ngFor="let activity of data.data.activity" class="grid p16">
                  <div class="grid-list w25"><b>ID:</b> {{activity.id}}</div>
                  <div class="grid-list w25"><b>Name:</b> {{activity.Name}}</div>
                  <div class="grid-list w25"><b>Group:</b> {{activity.group}}</div>
                  <div class="grid-list w25"><b>NOC Issuer:</b> {{activity.nocIssuer}}</div>
                </div>
              </div>

              <mat-toolbar color="primary">Company Details</mat-toolbar>
              <div>
                <h4>Address</h4>
                <div class="grid p16">
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Contact Person:</label>
                      <div>{{data.data.legal.contactPerson}}</div>
                    </div>
                  </div>
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Phone No:</label>
                      <div>{{data.data.legal.phoneNum}}</div>
                    </div>
                  </div>
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Fax No:</label>
                      <div>{{data.data.legal.faxNum}}</div>
                    </div>
                  </div>
                  <div class="grid-list w50">
                    <div class="p12">
                      <label>Mobile No:</label>
                      <div>{{data.data.legal.phoneNum}}</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="text-center">
              <img [src]="qr64">
            </div>
            <div class="mt12 p12" style="font-size: small">
              <div class="grid">
                <div class="grid-list w50 text-center"><b>Created Date: </b> {{date | date:'short'}}</div>
                <div class="grid-list w50 text-center"><b>Signature:</b> {{data.data._id}}</div>
              </div>
              <br>
              <mat-divider></mat-divider>
              <div class="p12 text-center">Approved electronic document issued without signature by the Department of
                Economic
                Development.
                To verify the license kindly visit <br> www.dubai.gov.ae
              </div>
            </div>

          </mat-card>
        </ng-container>
      </mat-tab>


    </mat-tab-group>
  </ng-container>

</div>


<mat-form-field style="width: 100%">
  <textarea matInput placeholder="Remark" #remark></textarea>
</mat-form-field>
<div mat-dialog-actions style="text-align:right;">
  <button *ngIf="data['hide'] != 'hide'" mat-button [mat-dialog-close]="{action:data.action, remark:remark.value}"
          color="primary">
    <mat-icon>check_circle_outline</mat-icon>
    {{data.postitveBtn}}
  </button>

  <button *ngIf="data['hide'] != 'hide'" mat-button [mat-dialog-close]="{action:'rejected', remark:remark.value}"
          color="warn">
    <mat-icon>delete_sweep</mat-icon>
    Reject
  </button>

  <button mat-button (click)="onNoClick()" cdkFocusInitial>
    <mat-icon>close</mat-icon>
    Close
  </button>
</div>


<!--
{
  "legal": {
    "name": "FedEx Express",
    "contactPerson": "John Jacob",
    "phoneNum": "+971503287945",
    "faxNum": "+971503287948"
  },
  "license": {
    "startDate": "2019-02-12T19:03:07.559Z",
    "expiryDate": "2021-02-11T20:00:00.000Z",
    "licenseTerm": 2,
    "status": "Processing",
    "activityList": [],
    "licenseNum": "L04933"
  },

"status": [
"LICENSE_NEW_INITIATED",
"PAYMENT_SUCCESS"
],
"_id": "5c63186b3ab38a727615b544",
"state": [
{
"_id": "5c63186b3ab38a727615b546",
"level": "LICENSE_NEW_INITIATED",
"timestamp": "2019-02-12T19:03:07.559Z"
},
  {
"_id": "5c63186b3ab38a727615b545",
"level": "PAYMENT_SUCCESS",
"timestamp": "2019-02-12T19:03:07.559Z"
}
],
"files": {
"lsc": "http://localhost:5051/file/dbb58b68ca3a91c7e961f36528601a25.jpeg",
"wcip": "http://localhost:5051/file/fb5dc0672ffa678bba038a8e8452e0a4.jpeg",
"fapip": "http://localhost:5051/file/dbb58b68ca3a91c7e961f36528601a25.jpeg",
"thirdParty": "http://localhost:5051/file/fb5dc0672ffa678bba038a8e8452e0a4.jpeg",
"osm": "http://localhost:5051/file/dbb58b68ca3a91c7e961f36528601a25.jpeg"
},
"Lease": [
{
"_id": "5c63186b3ab38a727615b547",
"leaseNum": "4567",
"officeNum": "9633369376",
"startDate": "2019-01-31T20:00:00.000Z",
"expiryDate": "2019-01-31T20:00:00.000Z",
"leaseStatus": "Processing"
}
],
"activity": [
{
"_id": "5c63186b3ab38a727615b548",
"id": "1815",
"group": "Insurance",
"Name": "Musical Instruments & Requisites Trading",
"nocIssuer": "DAFZA",
"fee": "200"
},
  {
"_id": "5c63186b3ab38a727615b549",
"id": "7010",
"group": "Oil & Natural Gas",
"Name": "Musical Instruments & Requisites Trading",
"nocIssuer": "DAFZA",
"fee": "200"
},
  {
"_id": "5c63186b3ab38a727615b54a",
"id": "3352",
"group": "Travel Agent",
"Name": "Musical Instruments & Requisites Trading",
"nocIssuer": "DAFZA",
"fee": "200"
}
],
"custNum": "DAFTY7UYDD",
"erpRefNum": "ERP223445",
"companyName": "FedEx",
"companyNameAr": "FedEx",
"companyRegDate": "2010-11-21T20:00:00.000Z",
"parentCompName": "",
"parentCompActivity": "",
"countryCode": "223",
"city": "Dubai",
"managerEmail": "manager@demo.com",
"proEmail": "pro@demo.com",
"privateFor": "dafza",
"__v": 0
}


-->
