<mat-card class="mt8 mb8">
  <mat-form-field class="mr12" style="width:80%">
    <input #search (keyup)="$event.keyCode == 13 ? searchByID(search.value): null;" matInput
           placeholder="Enter the Application ID" type="text">
  </mat-form-field>
  <button (click)="searchByID(search.value)" mat-raised-button>Verify</button>
</mat-card>


<ng-container *ngIf="!view">
  <mat-card>No application</mat-card>
</ng-container>

<ng-container *ngIf="view">

  <mat-card *ngIf="view.status.includes('LICENSE_ISSUE')" class="text-center w25 mauto">
    <mat-icon color="primary" style="font-size: 8em; margin-left: -0.6em;">check_circle_outline</mat-icon>
    <p class="m12 p12">Trade License <br> , <a [routerLink]="'/app/status/'+ view._id">{{view._id}}</a> <br> is
      issued by DAFZA and is Authenticated successfully </p>
  </mat-card>

  <mat-card *ngIf="view.status.length > 0 && view.status.length <= 3"
            class="w25 mauto text-center">
    <mat-icon color="warn" style="font-size: 8em; margin-left: -0.6em;">linear_scale</mat-icon>
    <p>Application <b>{{view._id}}</b> is under processing. </p>
  </mat-card>

</ng-container>


<ngx-spinner bdOpacity=0.9 bdColor="#333" size="large" color="#fff" type="ball-8bits" fullScreen="true"><p
  style="color: white"> Verifying Application </p></ngx-spinner>


