<mat-card>
  <mat-toolbar>License Renewal</mat-toolbar>
</mat-card>
<mat-horizontal-stepper *ngIf="application" [linear]="isLinear" #stepper>


  <mat-step>
    <form>
      <ng-template matStepLabel>License</ng-template>

      <mat-card class="m12">
        <mat-card-title>License Details</mat-card-title>
        <mat-divider></mat-divider>

        <div class="grid">
          <div class="grid-list w33">
            <div class="p12">
              <label>License No</label>
              <div>{{application.license.licenseNum}}</div>
            </div>
          </div>

          <div class="grid-list w33">
            <div class="p12">
              <label>Type</label>
              <div>Trade</div>
            </div>
          </div>

          <div class="grid-list w33">
            <div class="p12">
              <label>Issue Date</label>
              <div>{{application.companyRegDate | date }}</div>
            </div>
          </div>

          <div class="grid-list w33">
            <div class="p12">
              <label>Current Expiry Date</label>
              <div>{{application.license.firstExpDate | date}}</div>
            </div>
          </div>

          <div class="grid-list w33">
            <div class="p12">
              <label>New Expiry Date</label>
              <div>{{newExpiry(application.license.firstExpDate)}}
                {{newExpiryDate | date}}
              </div>
            </div>
          </div>

          <div class="grid-list w33">
            <div class="p12">
              <label>Term Period</label>
              <div>
                <mat-radio-group name="term-radio-group" [(ngModel)]="formData.terms">
                  <mat-radio-button value="1" [checked]="formData.terms == 1">
                    One
                  </mat-radio-button>
                  &nbsp;
                  <mat-radio-button value="2">
                    Two
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>

        </div>
      </mat-card>

      <mat-card class="m12">
        <mat-card-title>Lease Details</mat-card-title>
        <mat-divider></mat-divider>
        <app-table-view
          [headers]="leaseHeaders"
          [dataSource]="leasedata"
          [shadow]="false"
          [pagination]="false"
          [indexing]="false"
        ></app-table-view>
      </mat-card>


      <div class="m12">
        <button mat-raised-button color="primary" class="w25" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <form>

      <ng-template matStepLabel>Activities</ng-template>

      <mat-card class="m12">
        <mat-card-title>Activities</mat-card-title>
        <mat-divider></mat-divider>
        <app-table-view
          [headers]="activityHeaders"
          [dataSource]="activityData"
          [shadow]="false"
          [pagination]="false"
          [indexing]="false"
        ></app-table-view>
      </mat-card>

      <div class="p12">
        <mat-checkbox>Do you want to subscribe for Insurance</mat-checkbox>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" class="w25" matStepperNext>Next</button>
      </div>

    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Document Upload</ng-template>


    <mat-card class="m12">
      <mat-card-title>Documents Required</mat-card-title>
      <mat-divider></mat-divider>

      <mat-list dense>
        <mat-list-item>
          <p matLine>Legal Standing Certificate
            <mat-icon *ngIf="formData.files.lsc" style="color: forestgreen">check_circle</mat-icon>
          </p>
          <p>&nbsp;<input type="file" (change)="uploadAndset('lsc', formData.files.lsc, $event )"></p>
          <input type="hidden" name="legal" required [(ngModel)]="formData.files.lsc">
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <p matLine>Workmen Compensation Insurance Policy
            <mat-icon *ngIf="formData.files.wcip" style="color: forestgreen">check_circle</mat-icon>
          </p>
          <p>&nbsp;<input type="file" (change)="uploadAndset('wcip', formData.files.wcip, $event )"></p>
          <input type="hidden" name="legal" required [(ngModel)]="formData.files.wcip">
          <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
          <p matLine>Free And Allied Perils Insurance Policy
            <mat-icon *ngIf="formData.files.fapip" style="color: forestgreen">check_circle</mat-icon>
          </p>
          <p>&nbsp;<input type="file" (change)="uploadAndset('fapip', formData.files.fapip, $event )"></p>
          <input type="hidden" required name="legal" [(ngModel)]="formData.files.fapip">
          <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
          <p matLine>Third Party Liability Insurance Policy
            <mat-icon *ngIf="formData.files.thirdParty" style="color: forestgreen">check_circle</mat-icon>
          </p>
          &nbsp;<input type="file" (change)="uploadAndset('thirdParty', formData.files.thirdParty, $event )">
          <input type="hidden" required name="legal" [(ngModel)]="formData.files.thirdParty">
        </mat-list-item>
      </mat-list>
    </mat-card>


    <mat-card class="m12">
      <mat-card-title>{{application.for | uppercase}} - Required Documents</mat-card-title>
      <mat-divider></mat-divider>

      <mat-list>
        <mat-list-item>
          <p matLine>Operation Safety Manual
            <mat-icon *ngIf="formData.files.osm" style="color: forestgreen">check_circle</mat-icon>
          </p>
          <p>&nbsp;<input type="file" (change)="uploadAndset('osm', formData.files.osm, $event )"></p>
          <input type="hidden" name="legal" [(ngModel)]="formData.files.osm">
        </mat-list-item>
      </mat-list>
    </mat-card>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" class="w25" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Disclaimer</ng-template>
    <mat-card class="m12">
      <mat-card-title>NOC Issuance</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p class="p16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim ultricies leo vitae
          lobortis. Vivamus ut leo vel massa posuere aliquam et sed ipsum. Curabitur faucibus ac purus in viverra.
          Suspendisse euismod lectus nec mi rutrum, in hendrerit lorem lacinia. Sed vitae interdum sapien, eget euismod
          erat</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="m12">
      <mat-card-title>Legal Standing</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p class="p16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim ultricies leo vitae
          lobortis. Vivamus ut leo vel massa posuere aliquam et sed ipsum. Curabitur faucibus ac purus in viverra.
          Suspendisse euismod lectus nec mi rutrum, in hendrerit lorem lacinia. Sed vitae interdum sapien, eget euismod
          erat</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="m12">
      <mat-card-title>Payment</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p class="p16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim ultricies leo vitae
          lobortis. Vivamus ut leo vel massa posuere aliquam et sed ipsum. Curabitur faucibus ac purus in viverra.
          Suspendisse euismod lectus nec mi rutrum, in hendrerit lorem lacinia. Sed vitae interdum sapien, eget euismod
          erat</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="m12">
      <mat-checkbox #agree> By Checking you are agreeing with the terms and conditions mentioned above</mat-checkbox>
    </mat-card>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button *ngIf="agree.checked" mat-raised-button color="primary" class="w25" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Payment Invoice</ng-template>


    <div class="grid">
      <div class="grid-list w50">
        trst
      </div>
      <div class="grid-list w50">
        <mat-card>

          <h2 class="mt12">Invoice</h2>
          <mat-divider></mat-divider>

          <mat-list dense>
            <mat-list-item><p matLine> Parking Fee</p>
              <p class="w33">AED 5,000.00</p></mat-list-item>
            <mat-list-item><p matLine> Visa Fee</p>
              <p class="w33">AED 7,000.00</p></mat-list-item>
            <mat-list-item><p matLine><b>Sub Total</b></p>
              <p class="w33"><b>AED 12,0000.00</b></p></mat-list-item>
          </mat-list>

          <mat-divider></mat-divider>
          <h2 class="mt12">License Renewal Fees</h2>
          <mat-divider></mat-divider>

          <mat-list dense>
            <mat-list-item><p matLine> {{formData.terms }} Year(s) License</p>
              <p class="w33">AED {{formData.terms * 10000 | number}}</p></mat-list-item>
            <mat-list-item><p matLine><b>Sub Total</b></p>
              <p class="w33"><b>AED {{formData.terms * 10000 | number}}</b></p></mat-list-item>

          </mat-list>

          <mat-divider></mat-divider>
          <h2 class="mt12">Noc Fees</h2>
          <mat-divider></mat-divider>

          <mat-list dense>
            <mat-list-item><p matLine> General Fees</p>
              <p class="w33">AED 5,000.00</p></mat-list-item>
            <mat-list-item><p matLine> Service Charge</p>
              <p class="w33">AED 300.00</p></mat-list-item>
            <mat-list-item><p matLine><b>Sub Total</b></p>
              <p class="w33"><b>AED 5,300.00</b></p></mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
          <div class="p12">
            <h3 style="text-align: right; font-weight: bold">Total
              : {{(formData.terms * 10000) + 5300 + 12000 | currency:'AED':'code'}}</h3>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="p16">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" class="w25" color="accent" matStepperNext (click)="submitRenewal()">
        Submit and Make Payment
      </button>
    </div>
  </mat-step>


</mat-horizontal-stepper>


