::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

::ng-deep .mat-vertical-stepper-header{
  pointer-events: none !important;
}

.grid-list{
  h2{
    font-weight: 100;
    margin: 0;
  }


  > div {
    label {
      padding: 0;
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      font-weight: 500;
    }

    div{
      color: rgba(0, 0, 0, 0.87);
      font-size: 14px;
      font-weight: 400;
      padding:12px;
    }
  }
}
