<div *ngIf="data" class="{{shadow?'data-table shadow': 'data-table'}}">
  <div *ngIf="false">
    <input type="text" class="search" placeholder="Search for details">
  </div>
  <table class.mat-elevation-z2="true">
    <thead>
    <tr>
      <th *ngIf="delete" style="width: 4%">&nbsp;</th>
      <th *ngIf="indexing" style="width: 4%">#</th>
      <th *ngFor="let header of headers.thead" style="text-align:left">{{header}}</th>

      <ng-container *ngIf="buttons && buttons.thead">
        <th *ngFor="let bhead of buttons.thead" style="text-align:center">{{bhead | uppercase}}</th>
      </ng-container>
      <th *ngIf="update">&nbsp;</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let row of data.data; let i = index" (click)="fireRowClick(row)">
      <td *ngIf="delete"><input type="checkbox" [checked]="checkAll" (change)="selected($event,row._id)"></td>
      <td *ngIf="indexing">{{ i + 1 }}</td>
      <td *ngFor="let attr of headers.displayed">
        <ng-container
          *ngIf="typeOf(row[attr]) === 'string' || typeOf(row[attr]) === 'boolean'">{{row[attr]}}</ng-container>
        <ng-container *ngIf="typeOf(row[attr]) === 'object'">

          <ng-container *ngIf="row[attr].type === 'btn'">
            <button mat-icon-button *ngIf="row[attr].icon && row[attr].text" [matTooltip]="row[attr].text"
                    (click)="sendAction(row[attr].action, row._id, row[attr].status)">
              <mat-icon>{{row[attr].icon}}</mat-icon>
            </button>
            <button mat-raised-button *ngIf="!row[attr].icon &&row[attr].text">
              {{row[attr].text}}
            </button>
            <button mat-icon-button *ngIf="row[attr].icon && !row[attr].text">
              <mat-icon>{{row[attr].icon}}</mat-icon>
            </button>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="typeOf(row[attr])=== 'array' ">
          <ng-container *ngFor="let b of row[attr]">
            <ng-container *ngIf="b.type === 'btn'">
              <button mat-icon-button *ngIf="b.icon && b.text" [matTooltip]="b.text"
                      (click)="sendAction(b.action, row._id,  b.status)">
                <mat-icon>{{b.icon}}</mat-icon>
              </button>
              <button mat-raised-button *ngIf="!b.icon &&b.text">
                {{b.text}}
              </button>
              <button mat-icon-button *ngIf="b.icon && !b.text">
                <mat-icon>{{b.icon}}</mat-icon>
              </button>
            </ng-container>
          </ng-container>

        </ng-container>

      </td>


      <ng-container *ngIf="buttons && buttons.btns">

        <td *ngFor="let button of buttons.btns" style="text-align:center">

          <button mat-icon-button *ngIf="button.icon && button.text" [matTooltip]="button.text"
                  (click)="sendAction(button.action, row._id,  button.status)">
            <mat-icon>{{button.icon}}</mat-icon>
          </button>
          <button mat-raised-button *ngIf="!button.icon &&button.text">
            {{button.text}}
          </button>
          <button mat-icon-button *ngIf="button.icon && !button.text">
            <mat-icon>{{button.icon}}</mat-icon>
          </button>

        </td>
      </ng-container>

      <td *ngIf="update" style="text-align:center">
        <button mat-icon-button (click)="showUpdate(row._id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </tr>

    </tbody>
    <tfoot></tfoot>
  </table>

  <div class="footer">
    <div *ngIf="delete" class="delete">
      <button (click)="deleteSelected()">Delete {{checked.length}} rows</button>
    </div>

    <div class="spacer">

    </div>

    <div *ngIf="pagination" class="data-pagination">
      <mat-form-field *ngIf="paginationSelect">
        <mat-select value="10" (selectionChange)="pageOnChange(device.value)" #device>
          <mat-option value="10">10</mat-option>
          <mat-option value="15">15</mat-option>
          <mat-option value="20">20</mat-option>
          <mat-option value="100">100</mat-option>
        </mat-select>
      </mat-form-field>


      <button mat-icon-button class="link-button" (click)="previousPage()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      {{page}} of {{totalItems()}}
      <button mat-icon-button class="link-button" (click)="nextPage()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>


  <div *ngIf="update && dialogue" class="update" (click)="closeDialogue()">

    <div class="update-box" (click)="$event.stopPropagation()">
      <h2>Edit the Row</h2>
      <form #customForm="ngForm" novalidate (ngSubmit)="submitUpdateRow(dialogeData); closeDialogue()">
        <div class="f-x">
          <ng-container *ngFor="let attr of headers.displayed; let i = index">
            <div *ngIf="attr!='_id'" class="f-y">
              <label>{{headers.thead[i]}}</label>
              <input type="text" [value]="dialogeData[attr]" [placeholder]="attr" [name]="attr"
                     [(ngModel)]="dialogeData[attr]">
            </div>
          </ng-container>
        </div>
        <footer>
          <br>
          <button type="submit">Update the row</button>
          <button type="button" (click)="closeDialogue()">Cancel</button>
        </footer>
      </form>
    </div>
  </div>

</div>
