.shadow{
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
.data-table {
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 2px;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  display: table;
  width: 98.5%;
  .search {
    width: 100%;
    height: 42px;
    border: none;
    outline: none;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }

  table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
    width: 100%;
    background: #fff;

    thead, tbody {
      td:first-of-type, th:first-of-type {
        padding-left: 24px !important;
        padding-right: 24px !important;
      }
    }

    thead {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;

      tr {
        height: 56px;
      }

    }

    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;

      tr {
        height: 48px;
        color: rgba(0, 0, 0, .87);
        font-size: 14px;
        font-weight: 400;

        td{
          border-bottom:1px solid rgba(0,0,0,.12);
        }
      }
    }

    th {
      border-bottom-color: rgba(0, 0, 0, .12);
      padding: 0;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      color: rgba(0, 0, 0, .54);
      font-size: 12px;
      font-weight: 500;
    }

    tfoot {
      display: table-footer-group;
      vertical-align: middle;
      border-color: inherit;
    }

  }
  .footer {
    display: flex;
    height: 48px;
    .spacer {
      flex-grow: 1;
    }

    .delete {
      width: 120px;
      background: transparent;
      button {
        height: 80%;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        transition: .25s linear all;
        border-radius: 4px;
        margin-left: 5px;
        margin-top: 4px;
        &:hover {
          background-color: #fbab33;
          color: white;
        }
      }
    }

    .data-pagination {
      padding-right: 20px;
      mat-form-field{
        width: 80px; ;
      }
      mat-select {
          text-align: center;

      }

      .link-button {
        border: none;
        outline: none;
        background: transparent;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .update {
    transition: .5s linear all;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(212, 212, 212, 0.51);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .update-box {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
      background: #fff;
      padding: 8px;
      border-radius: 4px;
      width: 250px;
    }

    .f-x {
      display: flex;
      flex-direction: column;
    }

    .f-y {
      display: flex;
      flex-direction: column;
      margin-top: 6px;
    }
    input[type='text'] {
      margin-right: 4px;
      padding: 4px;

    }
  }
}
