<div class="container">
  <mat-toolbar class="h90" style="background: transparent">
    <!--    <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>-->


    <div *ngIf="role != 'tra'" class="" style="text-align: center;">
      <img alt="" style="width: 180px" class="mt15" src="../../assets/logo/gov.png">
    </div>
    <div *ngIf="role == 'tra'" class="" style="text-align: center;">
      <img alt="" class="mt15" src="../../assets/logo/uae.png" style="height: 60px">
    </div>
    <span style="flex: 1 1 auto;"></span>

    <div class="h90" style="text-align: center;">
      <img alt="" class="h90" src="../../assets/logo/year-of-tolerance.png">
    </div>

    <span style="flex: 1 1 auto;"></span>

    <div class="h90" style="text-align: right;">
      <img alt="" class="h90" [src]="'../../assets/logo/'+role+'.png'">
    </div>


  </mat-toolbar>
</div>

<nav class="mauto navs w100 {{'nav-'+ role}}" mat-tab-nav-bar>


  <ng-container *ngFor="let navItem of navigationData.leftPanelMenuDetails">

    <a (click)="menuDisplayName = navItem.menuDisplayName"
       [routerLink]="['/app/'+ navItem.action]"
       mat-tab-link
       class="nav0l"
       [routerLinkActive]="'selected'">

      <mat-icon>{{navItem.menuDisplayIcon}}</mat-icon> &nbsp;
      {{navItem.menuDisplayName}}
    </a>

  </ng-container>

  <ng-container *ngIf="role !== 'user'">

    <a href="http://104.211.95.159:9000" mat-tab-link target="_blank">
      <mat-icon>vertical_split</mat-icon>
      <div class="ml10">Management</div>
    </a>
    <mat-divider></mat-divider>

    <a href="http://104.211.95.159:8080" mat-tab-link target="_blank">
      <mat-icon>apps</mat-icon>
      <div class="ml10">Blockchain Explorer</div>
    </a>

  </ng-container>

  <a routerLink="/login"
     mat-tab-link
     routerLinkActive="selected">
    <mat-icon>lock</mat-icon>
    &nbsp;
    Logout
  </a>

</nav>

<div class="container" [@routerTransition]="getState(o)">


  <router-outlet #o="outlet"></router-outlet>


</div>


