.dashboard-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.dashboard-app-name {
  margin-left: 8px;
}

.dashboard-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .dashboard-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;

}

.dashboard-sidenav {
  width: 280px;
}


.nav-item {
  height: 48px;
  cursor: pointer;
  padding-left: 14px;
}

.nav-link {
  padding: 20px;
  display: block;
}


.navs {
  justify-content: center;
  display: flex;
  background: #093e52;

  a {
    color: #fff !important;
  }
}


.h90 {
  height: 90px !important;
}


.nav-tra {
  background: #ff8e00;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navs {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: #093e52;


    a {
      color: #fff !important;
    }

    .mat-tab-links {
      flex-direction: column !important;
      position: relative;
      display: flex;
    }
  }
}
