<div *ngIf="dashData">
  <div class="grid">

    <div class="grid-list w25 h80 text-center">
      <mat-card class="click" routerLink="/app/all-applications"
                style="background:linear-gradient(135deg, #42e695 0%,#3bb2b8 100%); color:#fff; ">
        <h1>{{dashData.totalNOCGenerated[0].count}}</h1>
        <div>Total NOC issued</div>
      </mat-card>
    </div>

    <div class="grid-list w25 h80 text-center">
      <mat-card class="click" routerLink="/app/all-applications"
                style="background:linear-gradient(135deg, #f2d50f 0%,#da0641 100%); color:#fff;">
        <h1>0</h1>
        <div>NOC rejected this Month</div>
      </mat-card>
    </div>


    <div class="grid-list w50 h80 text-center">
      <mat-card class="click" routerLink="/app/bank-txn"
                style="background:linear-gradient(135deg, #0FF0B3 0%,#036ED9 100%); color: #fff;">
        <h1>{{ dashData.amountToDafzaTRA[0].total | currency:'AED '}}</h1>
        <div>Total Payment Recived</div>
      </mat-card>
    </div>

  </div>


  <div class="grid">
    <div class="grid-list w50 text-center">

      <mat-card>
        <mat-card-title class="text-right">
          <mat-menu #menu="matMenu">
            <button (click)="setNOCCharts('day')" mat-menu-item>Day</button>
            <button (click)="setNOCCharts('month')" mat-menu-item>Month</button>
            <button (click)="setNOCCharts('year')" mat-menu-item>Year</button>
          </mat-menu>
          <button [matMenuTriggerFor]="menu" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>


        </mat-card-title>
        <canvas (chartClick)="chartClicked($event)"
                (chartHover)="chartHovered($event)"
                [chartType]="lineChartType"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                baseChart></canvas>

        <br>
        <p>Total NOC request</p>
        <!--<button (click)="randomizeType()" mat-button>Change Visualization</button>-->
      </mat-card>
    </div>

    <div class="grid-list w50 text-center">
      <mat-card style="min-height: 361px !important;">
        <mat-card-title class="text-right">
          <br>
        </mat-card-title>
        <canvas (chartClick)="chartClicked($event)"
                (chartHover)="chartHovered($event)"
                [chartType]="pieChartType"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [legend]="true"
                baseChart></canvas>

        <br>
        <p>Total Amount Distribution (AED)</p>

        <!--<button (click)="randomizePie()" mat-button>Change Visualization</button>-->
      </mat-card>
    </div>

  </div>

  <div class="grid p12 ">
    <mat-card class="grid-list w100">
      <mat-toolbar>Last transactions</mat-toolbar>
      <ng-container *ngIf="txns">

        <app-table-view
          [dataSource]="txns"
          [headers]="customHeaders"
          [pagination]="false"
          [perpage]="4"
          [shadow]="false"></app-table-view>


      </ng-container>
      <div class="text-right">
        <button mat-flat-button routerLink="/app/bank-txn">View All
          <mat-icon>arrow_right</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>

</div>


<!--<pre>{{lineChartData | json}}</pre>-->
<!--<pre>{{lineChartLabels | json}}</pre>-->
<!--<pre>{{dashData | json}}</pre>-->
