@import "scss/theme";

@include mat-core();
@include angular-material-theme($my-theme);
@import "scss/mixins";


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.vertical-align {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


$sizes: 24;

@mixin margin-classes {
  @for $i from 1 through $sizes {
    //$margin: $i * 0.25rem;
    $margin: $i+px;
    /* margin #{$margin} */
    .m#{$i} {
      margin: $margin;
    }
    .ml#{$i} {
      margin-left: $margin;
    }
    .mr#{$i} {
      margin-right: $margin;
    }
    .mt#{$i} {
      margin-top: $margin;
    }
    .mb#{$i} {
      margin-bottom: $margin;
    }
    .mx#{$i} {
      margin-left: $margin;
      margin-right: $margin;
    }
    .my#{$i} {
      margin-top: $margin;
      margin-bottom: $margin;
    }
  }
}

@mixin padding-classes {
  @for $i from 1 through $sizes {
    $padding: $i + px;
    /* padding #{$padding} */
    .p#{$i} {
      padding: $padding;
    }
    .pl#{$i} {
      padding-left: $padding;
    }
    .pr#{$i} {
      padding-right: $padding;
    }
    .pt#{$i} {
      padding-top: $padding;
    }
    .pb#{$i} {
      padding-bottom: $padding;
    }
    .px#{$i} {
      padding-left: $padding;
      padding-right: $padding;
    }
    .py#{$i} {
      padding-top: $padding;
      padding-bottom: $padding;
    }
  }
}

@include margin-classes;
@include padding-classes;


.w100 {
  width: 100%;
}

.w10 {
  width: 10%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w33 {
  width: 33.33333%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}


.mauto {
  margin: auto;
}


.dialogue-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: calc(100vh - 64px);
}

.muted {
  color: #7b7777;
  width: 180px;

}


.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS
  .grid-list {
    justify-content: space-around;

  }

  .w10,
  .w20,
  .w25,
  .w50,
  .w75,
  .w80 {
    width: 50%;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS
  .grid-list {
    justify-content: space-around;

  }

  .w10,
  .w20,
  .w25,
  .w50,
  .w75,
  .w80 {
    width: 100%;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS
  .grid-list {
    justify-content: space-around;

  }

  .w10,
  .w20,
  .w25,
  .w50,
  .w75,
  .w80 {
    width: 100%;
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS
  .grid-list {
    justify-content: space-around;

  }

  .w10,
  .w20,
  .w25,
  .w50,
  .w75,
  .w80 {
    width: 100%;
  }

}


@media only screen and (max-width: 768px) {
  .grid-list {
    justify-content: space-around;

  }

  .w10,
  .w20,
  .w25,
  .w50,
  .w75,
  .w80 {
    width: 100%;
  }

  .mat-tab-links {
    flex-direction: column !important;
    position: relative;
    display: flex;
  }
}
.grid-list {
  //width: 100%;

}

.grid-list > mat-card {
  margin: 15px;
  min-height: 256px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.selected {
  color: #fff;
  opacity: 1 !important;
}

.click {
  cursor: pointer;
}
