@import '~@angular/material/theming';

.mat-step-icon {
  border-radius: 50%;
  height: 34px;
  width: 34px;
  flex-shrink: 0;
  position: relative;
}


$my-theme-primary: mat-palette($mat-blue-gray);
$my-theme-accent: mat-palette($mat-amber);
$my-theme-warn: mat-palette($mat-red);
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);
